tqdm
beautifulsoup4
exception
lxml
html-to-json
html5lib
emoji
scikit-learn
FlagEmbedding
faiss-cpu
datasets
accelerate
peft
trl
bitsandbytes
wand
py-rouge
konlpy
flash-attn
scipy
konlpy
open-ai
wandb

